


/****************************/
/* -------- LOADER -------- */
/****************************/


#loader { 
	position:fixed; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	z-index:88; 
	background-color:rgba(0, 0, 0, 0.8); 
}

.loader-progress {
	position:absolute; 
	left:0; 
	top:50%; 
	width:100%; 
	height:1px; 
	background-color:$alt3; 
	@include translateX(-100%); 
}

.no-js #loader { display:none; }


