


/*******************************/
/* -------- Functions -------- */
/*******************************/


@mixin unselectable() {
	-webkit-touch-callout: none;
	@include user-select('none');
	-ms-touch-action: none;
	touch-action: none;
	cursor: default;
	// pointer-events: none;
	// -webkit-user-drag: none;
}

@mixin triangle($top, $right, $bottom, $left, $colorTop, $colorRight, $colorBottom, $colorLeft) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: $top $right $bottom $left;
	border-color: $colorTop $colorRight $colorBottom $colorLeft;
}


