


/*******************************/
/* -------- VARIABLES -------- */
/*******************************/


/* -------- SIZES -------- */

$contentW: 960px;
$contentH: 100%;
$contentMinW: 980px;
$contentMinH: 600px;



/* -------- COLORS -------- */

$black: #232323;
$gray: #888;
$white: #fff;
$peach: #fe7373;

$bgSelection: $black;
$textSelection: $white;
$alt1: $white;
$alt2: $black;
$alt3: $peach;
$alt4: $gray;


