

# -------- Force UTF-8 -------- #
AddDefaultCharset UTF-8


# -------- Disable magic quotes -------- #
SetEnv MAGIC_QUOTES 0


# -------- Active PHP 5 -------- #
SetEnv PHP_VER 5


IndexIgnore */*

RewriteEngine on


# -------- Force www -------- #
RewriteCond %{HTTP_HOST} ^SITE_URL.COM$
RewriteRule ^(.*) http://www.SITE_URL.COM/$1 [QSA,L,R=301]


# -------- Remove PHPSESSID from the URL -------- #
RewriteCond %{QUERY_STRING} PHPSESSID=.*$
RewriteRule .* %{REQUEST_URI}? [R=301,L]





# ------------------------ #
# -------- ASSETS -------- #
# ------------------------ #


# -------- TO DISABLE IN PROD -------- #
RewriteRule img/(.*)$						src/img/$1 [L]
RewriteRule json/(.*)$						src/json/$1 [L]
RewriteRule src/js/app/shared/videos/(.*)$	src/js/app/shared/videos/$1 [L]
RewriteRule videos/(.*)$					src/videos/$1 [L]

RewriteRule img/(.*)$		assets/img/$1 [L]
RewriteRule json/(.*)$		assets/json/$1 [L]
RewriteRule videos/(.*)$	assets/videos/$1 [L]

RewriteRule css/(.*)$		assets/css/$1 [L]
RewriteRule assets/(.*)$	assets/$1 [L]
RewriteRule src/(.*)$		src/$1 [L]





# ------------------------ #
# -------- ROUTES -------- #
# ------------------------ #

# FallbackResource /Starter/root-project/www/index.php
# RewriteRule ^(.*)$ php/controller/RoutesController.php [L]
RewriteRule ^(.*)$ index.php [L]





# ------------------------ #
# -------- ERRORS -------- #
# ------------------------ #

# ErrorDocument 403 http://www.URL-DU-SITE.COM
# ErrorDocument 404 http://www.URL-DU-SITE.COM
# ErrorDocument 500 "Internal server error, please try again later..."
# ErrorDocument 503 "Internal server error, please try again later..."

