


/****************************/
/* -------- GLOBAL -------- */
/****************************/


body {
	width: 100%;
	min-width: $contentMinW;
	height: 100%;
	min-height: $contentMinH;
}



/* -------- CSS TRANSITION -------- */

.js .preload * { @include transition(none !important); } 


