


/*********************************/
/* -------- MAIN LOADER -------- */
/*********************************/


#main-loader {
	position:fixed; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	z-index:88; 
	background-color:rgba(0, 0, 0, 0.8); 
	overflow:hidden; 
}

.main-loader-percentage {
	position:absolute; 
	left:0; 
	top:50%; 
	height:100px; 
	width:100%; 
	margin-top:-50px; 
	text-align:center; 
	font:bold 100px/100px 'Arial'; 
	color:$peach; 
}

.main-loader-progress {
	position:absolute; 
	left:0; 
	bottom:0; 
	width:100%; 
	height:200px; 
	background-color:$alt3; 
	@include translateX(-100%); 
}

.no-js #main-loader { display:none; }


