	
	<!-- Main loader -->
	<div id="main-loader" class="init">
		<div class="main-loader-container">
			<div class="main-loader-percentage"></div>
			<div class="main-loader-progress"></div>
			<div class="main-loader-loading">
				<div class="main-loader-loading-square-container">
					<div class="main-loader-loading-square"></div>
					<div class="main-loader-loading-square"></div>
					<div class="main-loader-loading-square"></div>
				</div>
			</div>
		</div>
	</div>
