


/***********************************/
/* -------- LEGAL NOTICES -------- */
/***********************************/


.legalNotices {
	width: 960px;
	margin: auto;
	padding: 50px 0;
	
	.logo {
		width: 100%;
		margin-bottom: 50px;
		text-align: center;
	}
	
	h1 {
		color: $alt3;
		font: normal 24px/22px Arial;
	}
	
	h2 {
		margin: 20px 0 5px 0;
		color: $alt3;
		font: normal 16px/14px Arial;
	}
	
	a { color: $alt3;
		&:hover { color: $alt4; }
	}
}


