@charset "UTF-8";



/****************************************/
/* -------- SHARED - UTILITIES -------- */
/****************************************/


@import 'shared/utilities/_reset';
@import 'shared/utilities/_fonts';
@import 'shared/utilities/_variables';
@import 'shared/utilities/_easing';
// @import 'shared/utilities/_functions';





/**************************************/
/* -------- SHARED - STATICS -------- */
/**************************************/


@import 'shared/statics/_svg';
@import 'shared/statics/_alt';
// @import 'shared/statics/_global';
