


/****************************/
/* -------- GLOBAL -------- */
/****************************/


::-moz-selection, ::selection { 
	background-color:$bgSelection; 
	color:$textSelection; 
}

body { 
	width:100%; 
	min-width:$contentMinW; 
	height:100%; 
	min-height:$contentMinH; 
	font:normal 13px/15px Arial; 
	-webkit-font-smoothing:subpixel-antialiased; 
	/*-webkit-font-smoothing:antialiased;*/ 
	color:$alt2; 
	background-color:$alt1; 
}

a { text-decoration:none; }

.center { 
	width:$contentW; 
	margin:auto; 
}



/* -------- CSS TRANSITION -------- */

.js .preload * { @include transition(none !important); }



/* -------- LOADER -------- */

#loader { 
	position:fixed; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	z-index:88; 
}

.no-js #loader { display:none; }



/* -------- CONTAINER -------- */

#main-container { }
#page-container { }
.page { }


