


/****************************/
/* -------- LOADER -------- */
/****************************/


#loader { 
	position:fixed; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	z-index:88; 
}

.no-js #loader { display:none; }


