


/****************************/
/* -------- GLOBAL -------- */
/****************************/


body {
	width: 100%;
	height: 100%;
}

img { max-width: 100%; }



/* -------- CSS TRANSITION -------- */

.js .preload * { @include transition(none !important); } 


