


/***************************/
/* -------- NO JS -------- */
/***************************/


#no-js { 
	position:fixed; 
	left:0; 
	top:20px; 
	width:100%; 
	padding:10px 0; 
	text-align:center; 
	background-color:$alt2; 
	z-index:88; 
	
	.alt-title { 
		margin-bottom:10px; 
		color:$alt3; 
	}
	
	p { color:$alt1; }
	
	a { 
		color:$alt3; 
		text-decoration:underline; 
		
		&:hover { color:$alt4; }
	}
}





/*********************************/
/* -------- OLD BROWSER -------- */
/*********************************/


#old-browser { 
	position:fixed; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	text-align:center; 
	background:url(../img/bgs/pattern_black_transparent.png) left top repeat; 
	z-index:88; 
	
	.container { 
		position:absolute; 
		left:50%; 
		top:50%; 
		width:960px; 
		height:250px; 
		padding:95px 0; 
		margin:-220px 0 0 -480px; 
		background-color:$alt1; 
	}
	
	.alt-title { 
		margin-bottom:10px; 
		color:$alt3; 
	}
	
	p { color:$alt2; }
}

.browsers { 
	position:relative; 
	width:960px; 
	height:145px; 
	margin-top:30px; 
	
	a { 
		display:block; 
		position:absolute; 
		top:0; 
		text-align:center; 
		color:#3a6774; 
		
		&.chrome { 
			left:94px; 
			width:80px; 
			background:url(../img/logos/browsers/browser_chrome.png) center 0 no-repeat; 
		}
		
		&.firefox { 
			left:268px; 
			width:78px; 
			background:url(../img/logos/browsers/browser_firefox.png) center 0 no-repeat; 
		}
		
		&.safari { 
			left:440px; 
			width:74px; 
			background:url(../img/logos/browsers/browser_safari.png) center 0 no-repeat; 
		}
		
		&.opera { 
			left:608px; 
			width:74px; 
			background:url(../img/logos/browsers/browser_opera.png) center 0 no-repeat; 
		}
		
		&.ie { 
			left:776px; 
			width:87px; 
			background:url(../img/logos/browsers/browser_internet_explorer.png) center 0 no-repeat; 
		}
		
		.alt-subtitle { 
			color:$alt3; 
			margin-top:90px; 
		}
		
		p { 
			display:none; 
			color:$alt2; 
		}
		
		&:hover p { 
			display:block; 
			margin-top:3px; 
		}
	}
}


