@charset "UTF-8";



/*******************************/
/* -------- VARIABLES -------- */
/*******************************/


/* -------- TAILLES -------- */

$largContenu:960px;
$largContenuMin:980px;



/* -------- COULEURS -------- */

$bgSelection:#000;
$texteSelection:#fff;
$alternate1:#fff;
$alternate2:#000;
$alternate3:#f09;
$alternate4:#ccc;


