


/*******************************/
/* -------- VARIABLES -------- */
/*******************************/


/* -------- TAILLES -------- */

$contentW:960px;
$contentWMin:980px;
$contentHMin:600px;



/* -------- COULEURS -------- */

$black:#000;
$grey:#888;
$white:#fff;
$color1:#f09;

$bgSelection:$black;
$textSelection:$white;
$alt1:$white;
$alt2:$black;
$alt3:$color1;
$alt4:$grey;


