


/*******************************/
/* -------- VARIABLES -------- */
/*******************************/


/* -------- SIZES -------- */

$contentW:960px;
$contentH:100%;
$contentMinW:980px;
$contentMinH:600px;



/* -------- COLORS -------- */

$black:#000;
$grey:#888;
$white:#fff;
$color1:#f09;

$bgSelection:$black;
$textSelection:$white;
$alt1:$white;
$alt2:$black;
$alt3:$color1;
$alt4:$grey;


