
<!-- 404 error -->
<section id="page" class="error404">
	
	<br><br><br>
	{{ title }}<br>
	desktop page content / {{ Lang.LANG }}
	<br><br>
	<img src="{{ Path.URL.img }}temp/404.jpg" alt="404">
	<br><br><br><br>
	
</section>
