
<!-- Home -->
<section id="page" class="home">
	
	<br><br><br>
	<!-- {{ datas.home.title }}<br> -->
	{{ title }}<br>
	desktop page content / {{ lang.LANG }}
	<br><br>
	<!-- <img src="<?php echo Path::$URL->img; ?>temp/home.jpg" alt="Home"> -->
	<br><br><br><br>
	
</section>